<div class="ml-4 mr-4">

  <h4>
    Aplikacja do zarządania eventami
  </h4>
  <button (click)="addEvents()">guzik</button>
  <p>  Aplikacja dla niezalogowanego użytkownika pozwala przeglądać organizowane eventy wraz z ich szczegółami.
    <br>Po zalogowaniu użytkownik moze zapisać się do wybranego eventu, przeglądać wszystkie do których już jest
    zapisany oraz złożyć podanie o wypisanie z wybranego.
    <br>Pracownik po zalogowaniu może tworzyć i kasować eventy, wypisywać i przenosić uczestników. Może również blokować możliwość zapisów.
    <br>Administrator może dodatkowo tworzyć nowe konta z uprawnieniami procownika.
  </p>
    Wykorzystane technologie:
    <ul>
      <li>Java</li>
      <li>Angular</li>
      <li>Spring Boot</li>
      <li>Spring Security</li>
      <li>MySQL</li>
      <li>JPA</li>
      <li>HTML</li>
      <li>Bootstrap</li>
    </ul>
</div>
