<div class="m-4">
  <div class="row">
    <h4>
      Aktualne kursy <button class="btn btn btn-success" (click)="addTestEvents()">Top secrete</button>
    </h4>
  </div>
  <div class="row">

    <div class="col-9">
      <div class="row eventrow border-bottom mr-2" *ngFor="let event of events">
          <div class="col-2"><img src="{{event.imgPath}}"></div>
          <div class="col-5">
            <h4>{{event.name}}</h4>
            <b>Cena:</b> {{event.price}} zł
            <br><b>Termin:</b> {{event.startDate | date:'shortDate'}} do {{event.endDate | date:'shortDate'}}
            <br><b>Zajęcia:</b> {{event.lessons}}
            <br><b>Godziny:</b> {{event.timetable}}
            <br><button type="button" class="btn btn-success mr-1">Zapisz się </button>
            <button type="button" class="btn btn-light mr-4">Więcej</button>
            <span *ngIf="isFull()" class="badge badge-pill badge-danger"> Brak miejsc!</span>
          </div>
          <div class="col-5">
              {{event.shortDescription}}
          </div>
      </div>
    </div>

    <div class="col-3 border-left">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
  
</div>
